<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Accessories</title>

  <!-- Link to the compiled CSS file from React build -->
  <link rel="stylesheet" href="{% static 'frontend/build/static/css/main.<hash>.css' %}" />
</head>
<body>
  <div id="root"></div>

  <!-- Link to the compiled JavaScript file from React build -->
  <script src="{% static 'frontend/build/static/js/453.8ab44547.chunk.js' %}"></script>
  <script src="{% static 'frontend/build/static/js/453.8ab44547.chunk.js.map' %}"></script>
  <script src="{% static 'frontend/build/static/js/main.235004ff.js' %}"></script>
  <script src="{%static 'frontend/build/static/js/main.235004ff.js.map' %}"></script>
</body>
</html>